---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="text-slate-800">Ahoj skragi toto je stránka squidbay</h1>
	</main>
</Layout>
